.buttonCard{
    background-color: #FFE919;
    color: black;
    border: #FFE919;
}

.buttonCard:hover{
    background-color: whitesmoke;
}

.cardApp{
box-shadow: 0 0 5px #212529;
transition: all 0.2s ease-in-out;
}

.cardApp:hover{
transform: scale(1.1);
}

.card-text{
    background:black;
     color:whitesmoke;
     text-align: justify;
     min-height: 10vh;
     height: 40vh;
     overflow-y: scroll;
     overflow-x: hidden;
}
.card-text::-webkit-scrollbar{
    -webkit-appearance: none;
}

.card-text::-webkit-scrollbar:vertical {
    width:5px;
    margin-left: 10px;
}

.card-text::-webkit-scrollbar-thumb{
    background-color:#FFE919;
    border-radius: 8px;
}
.general{
width: 18rem;
 border:solid 3px #5E9CC8;
 text-align: center;
}
.general{
    box-shadow: 0 0 5px black;
    transition: all 0.2s ease-in-out;
}
.general:hover{
    transform: scale(1.1);
}