.buttonCard{
    background-color: palevioletred;
    color: black;
    border: palevioletred;
}

.buttonCard:hover{
    background-color: whitesmoke;
}
button{
    background-color: palevioletred;
}
card.text{
    min-height: 10hv;
    height: 10hv;
    overflow-y: scroll;
    overflow-x: auto;
}