.cuerpo{
    background: black;
    color: whitesmoke;
}
.titulo{
    background: black;
    color: #FFE919;
    font-size: larger;
}
.lista{
    background: black;
    color: whitesmoke;
    border:  solid 0.5px #2D2B55;
}
.buttonCard{
    background: #FFE919;
    border: solid 2px;
    margin-top: 12px;
}
.buttonCard:hover{
    color: whitesmoke;
    background: black;
    border: solid 2px #FFE919;
    
}
.list-group{
    min-height: 20vh;
    height: 17vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-group::-webkit-scrollbar{
    -webkit-appearance: none;
}
.list-group::-webkit-scrollbar:vertical{
    width: 5px;
    margin-left: 10px;
}
.list-group::-webkit-scrollbar-thumb{
    background-color: #FFE919;
    border-radius: 8px;
}
.general{
    box-shadow: 0 0 5px black;
    transition: all 0.2s ease-in-out;
}
.general:hover{
    transform: scale(1.1);
}