.links:hover{
    background-color: #5E9CC8;
}
.img{
    margin-right: 10px;
    margin-bottom: 1px;
    margin-left: 20px;
}
.nav-link{
    color: whitesmoke;
}
.nav-link:hover{
    color: #FFE919;
}