.cuerpo {
  background: black;
  color: whitesmoke;
}
.titulo {
  background: black;
  color: #ffe919;
  font-size: larger;
}
.lista {
  background: black;
  color: whitesmoke;
  border: solid 0.5px #2d2b55;
}
.buttonCard {
  background: #ffe919;
  border: solid 2px;
  margin-top: 12px;
  color: black;
  font-weight: 600;
}
.buttonCard:hover {
  color: whitesmoke;
  background: black;
  border: solid 2px #ffe919;
}
.fecha {
  margin-top: 12px;
}
.list-group{
  min-height: 1vh;
  height: 12vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list-group::-webkit-scrollbar{
  -webkit-appearance: none;
}
.list-group::-webkit-scrollbar:vertical{
  width: 5px;
  margin-left: 10px;
}
.list-group::-webkit-scrollbar-thumb{
  background-color: #FFE919;
  border-radius: 8px;
}
.general{
  box-shadow: 0 0 5px black;
  transition: all 0.2s ease-in-out;
}
.general:hover{
  transform: scale(1.1);
}